# Ignore the virtual environment
venv/
env/
.venv 

# Ignore Python compiled files
*.pyc
__pycache__/

# Django #
*.log
*.pot
*.pyc

# Ignore database environment variables (contains sensitive data)
.env
db.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore JetBrains IDE files (like PyCharm)
.idea/

# Ignore VS Code files
.vscode/

# Ignore node_modules (if you have any frontend dependencies)
node_modules/
