/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container */
.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    max-height: 50px; 
    width: auto; 
    display: inline-block;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

.navbar-nav li,
.dropdown-menu li,
.navbar-profile-container li {
    list-style: none !important; 
}

/* Links */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #007BFF;
}

form {
    margin-top: 20px;
}

/* Card styling */
.card {
    width: 100%;
    max-width: 400px; 
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px; 
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the card body */
.card-body {
    display: flex;
    flex-direction: column;
}

/* Card footer for buttons */
.card-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

/* Adjust the button spacing inside the card */
.card-footer .btn {
    margin: 5px;
}

/* Card content styling */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin: 5px 0;
}

/* Table styling */
.table {
    margin-bottom: 0; 
}

/* Table header styling */
.table thead {
    background-color: #4C0080; 
    color: whitesmoke; 
    padding: 10px; 
    /* text-align: center; */
}

/* Table data styling */
.table td {
    padding: 10px;
}

/* Search and Filter */
.search-filter-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row; 
    gap: 10px;
}

/* Search input and select styling */
.search-filter-bar input, .search-filter-bar select {
    /* margin-right: 10px; */
    width: auto;
    flex-grow: 0;
}

.view-toggle-bar {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Adjust the icon size */
.footer-icons i {
    font-size: 1.8rem;
}

/* Adjust the spacing between icons */
.footer-icons a {
    margin: 0 10px;
}

/* Hide rows initially */
.collapse {
    display: none;
}

/* Display rows when the show class is added */
.collapse.show {
    display: table-row;
}

/* Background colors for each card */
.bg-light-blue {
    background-color: #b4dce8; /* Light blue background */
}

.bg-light-purple {
    background-color: #EEF1FA; /* Light purple background */
}

/* Common styles for info cards */
.info-card {
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    margin-top: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 120px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-card h6 {
    font-weight: 600;
    color: #333;
}

.info-card-content {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.info-card-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    color: #333;
}


.btn-group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

/* Medium screens (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .search-filter-bar {
        flex-wrap: wrap; 
        gap: 10px;
        flex-direction: column;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .navbar-nav {
        display: flex;
        justify-content: center; 
        width: 100%;
    }
}

@media (max-width: 767px) {
    .card {
        max-width: 100%; 
    }

    .search-filter-bar {
        flex-direction: column; 
        align-items: stretch;
        gap: 10px;
    }

    .view-toggle-bar {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px;
    }

    .navbar-collapse {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end; 
    }

    .btn-group-container a {
        flex: 1 1 100%; 
    }
}