{% extends 'base.html' %}

{% block title %}Progress Board{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 card-title">Progress Board</h1>

    <div id="successMessage" style="display: none;"></div>

    <div class="mb-3">
        <a href="/project/kanban/" class="btn btn-outline-secondary">Board View</a>
        <a href="/project/view-all" class="btn btn-outline-secondary">Table View</a>
    </div>

    <div id="kanban-board" class="d-flex justify-content-between">
        <!-- To Do Column -->
        <div id="to-do" class="kanban-column" data-status="To Do">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h6 class="mb-0"><strong>To Do</strong></h6>
                <div>
                    <button class="add-task-btn" style="visibility: visible;" onclick="showCreateTaskModalWithStatus('To Do')">+</button>                                
                </div>
            </div>
            <div class="task-list">
                {% for task in tasks %}
                    {% if task.status == "To Do" %}
                        <div class="task-card" data-task-id="{{ task.id }}" onclick="showTaskDetail({{ task.id }})">
                            <p><strong>{{ task.title }}</strong></p>
                            <p>{{ task.project.name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- In Progress Column -->
        <div id="in-progress" class="kanban-column" data-status="In Progress">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h6 class="mb-0"><strong>In Progress</strong></h6>
                <div>
                    <button class="add-task-btn" style="visibility: visible;" onclick="showCreateTaskModalWithStatus('In Progress')">+</button>                                
                </div>
            </div>
            <div class="task-list">
                {% for task in tasks %}
                    {% if task.status == "In Progress" %}
                        <div class="task-card" data-task-id="{{ task.id }}" onclick="showTaskDetail({{ task.id }})">
                            <p><strong>{{ task.title }}</strong></p>
                            <p>{{ task.project.name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Done Column -->
        <div id="done" class="kanban-column" data-status="Done">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h6 class="mb-0"><strong>Done</strong></h6>
                <div>
                    <button class="add-task-btn" style="visibility: visible;" onclick="showCreateTaskModalWithStatus('Done')">+</button>                                
                </div>
            </div>
            <div class="task-list">
                {% for task in tasks %}
                    {% if task.status == "Done" %}
                        <div class="task-card" data-task-id="{{ task.id }}" onclick="showTaskDetail({{ task.id }})">
                            <p><strong>{{ task.title }}</strong></p>
                            <p>{{ task.project.name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Project Detail Modal -->
<div class="modal fade" id="projectDetailModalKanban" tabindex="-1" aria-labelledby="projectDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectDetailModalKanban-name" onclick="editField(this, 'name', currentProjectId)"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <h6><strong>Description</strong></h6>
                            <p id="projectDetailModalKanban-description" onclick="editField(this, 'description', currentProjectId)"></p>
                        </div>
                        <div class="mb-3">
                            <h6><strong>Project Details</strong></h6>
                            {% comment %} <div class="detail-item">
                                <span class="detail-label">Project Manager</span>
                                <span id="projectDetailModalKanban-project_manager" onclick="editDropdown(this, 'project_manager', currentProjectId, pmList)"></span>
                            </div> {% endcomment %}
                            <div class="detail-item">
                                <span class="detail-label">Project Manager</span>
                                <div class="dropdown-menu-container">
                                    <button type="button" class="btn btn-light btn-sm dropdown-toggle" onclick="toggleDropdownMenu(this)">
                                        <span id="projectDetailModalKanban-project_manager"></span> 
                                    </button>
                                    <ul class="dropdown-menu project_manager-dropdown-menu">
                                        {% for pm in pm_list %}
                                            <li><a href="#" class="dropdown-item" onclick="selectOption('project_manager', currentProjectId, '{{ pm.id }}', '{{ pm.username }}', false); event.preventDefault();">{{ pm.username }}</a></li>
                                        {% empty %}
                                            <li><a href="#" class="dropdown-item">No Project Manager Available</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% comment %} <div class="detail-item">
                                <span class="detail-label">Client</span>
                                <span id="projectDetailModalKanban-client" onclick="editDropdown(this, 'client', currentProjectId, clientList)"></span>
                            </div> {% endcomment %}
                            <div class="detail-item">
                                <span class="detail-label">Client</span>
                                <div class="dropdown-menu-container">
                                    <button type="button" class="btn btn-light btn-sm dropdown-toggle" onclick="toggleDropdownMenu(this)">
                                        <span id="projectDetailModalKanban-client"></span> 
                                    </button>
                                    <ul class="dropdown-menu client-dropdown-menu">
                                        {% for client in client_list %}
                                            <li><a href="#" class="dropdown-item" onclick="selectOption('client', currentProjectId, '{{ client.id }}', '{{ client.username }}', false); event.preventDefault();">{{ client.username }}</a></li>
                                        {% empty %}
                                            <li><a href="#" class="dropdown-item">No Clients Available</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% comment %} <div class="detail-item">
                                <span class="detail-label">Status</span>
                                <span id="projectDetailModalKanban-status" onclick="editStatus(this, 'status', currentProjectId)"></span>
                            </div> {% endcomment %}
                            <div class="detail-item">
                                <span class="detail-label">Status</span>
                                <div class="dropdown-menu-container">
                                    <button type="button" class="btn btn-light btn-sm dropdown-toggle" onclick="toggleDropdownMenu(this)">
                                        <span id="projectDetailModalKanban-status"></span> 
                                    </button>
                                    <ul class="dropdown-menu status-dropdown-menu">
                                        <li><a href="#" class="dropdown-item" onclick="selectOption('status', currentProjectId, 'To Do', 'To Do', false); event.preventDefault();">To Do</a></li>
                                        <li><a href="#" class="dropdown-item" onclick="selectOption('status', currentProjectId, 'In Progress', 'In Progress', false); event.preventDefault();">In Progress</a></li>
                                        <li><a href="#" class="dropdown-item" onclick="selectOption('status', currentProjectId, 'Done', 'Done', false); event.preventDefault();">Done</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="detail-item">
                                <span class="detail-label">Due Date</span>
                                <span id="projectDetailModalKanban-due_date" onclick="editDate(this, 'due_date', currentProjectId)"></span>
                            </div>
                        </div>

                        <div style="font-size: 0.7rem">
                            <p><strong>Created At</strong> <span id="projectDetailModalKanban-created_at"></span></p>
                            <p><strong>Last Updated</strong> <span id="projectDetailModalKanban-updated_at"></span></p>
                        </div>
                        
                    </div>

                    <div class="col-md-6">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h6 class="mb-0"><strong>Tasks</strong></h6>
                            <div>
                                {% comment %} <button class="add-task-btn" style="visibility: visible;" onclick="showCreateTaskModal(currentProjectId)">+</button> {% endcomment %}
                                <button class="add-task-btn" style="visibility: visible;" onclick="showCreateTaskModal(currentProjectId, null, 'kanban')">+</button>
                                
                            </div>
                        </div>
                        <!-- Progress Bar -->
                        <div class="progress mb-2">
                            <div id="projectDetailModalKanban-progress-bar" class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0% Done</div>
                        </div>

                        <div id="projectDetailModalKanban-task-list"></div>

                        <div class="d-flex justify-content-between align-items-center my-3">
                            <h6 class="mb-0"><strong>Files</strong></h6>
                            <div>
                                <button class="add-task-btn" style="visibility: visible;">
                                    <i class="fa fa-link"></i>
                                </button>                                
                            </div>
                        </div>

                        <div id="project-file-list"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Task Detail Modal-->
<div class="modal fade" id="taskDetailModalKanban" tabindex="-1" aria-labelledby="taskDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskDetailModalKanban-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <h6><strong>Description</strong></h6>
                    <p id="taskDetailModalKanban-description" onclick="editField(this, 'description', currentTaskId, true)"></p>
                </div>
                
                <input type="hidden" id="current-task-id">

                <div class="mb-3">
                    <h6><strong>Task Details</strong></h6>
                    {% comment %} <div class="detail-item">
                        <span class="detail-label">Creative Team</span>
                        <span id="taskDetailModalKanban-assigned_to" onclick="editDropdown(this, 'assigned_to', currentTaskId, creativeList, true)"></span>
                    </div> {% endcomment %}
                    <div class="detail-item">
                        <span class="detail-label">Creative Team</span>
                        <div class="dropdown-menu-container">
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle" onclick="toggleDropdownMenu(this)">
                                <span id="taskDetailModalKanban-assigned_to"></span> 
                            </button>
                            <ul class="dropdown-menu assigned_to-dropdown-menu">
                                {% for creative in creative_list %}
                                    <li><a href="#" class="dropdown-item" onclick="selectOption('assigned_to', currentTaskId, '{{ creative.id }}', '{{ creative.username }}', true); event.preventDefault();">{{ creative.username }}</a></li>
                                {% empty %}
                                    <li><a href="#" class="dropdown-item">No Creative Teams Available</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% comment %} <div class="detail-item">
                        <span class="detail-label">Status</span>
                        <span id="taskDetailModalKanban-status" onclick="editStatus(this, 'status', currentTaskId, true)"></span>
                    </div> {% endcomment %}
                    <div class="detail-item">
                        <span class="detail-label">Status</span>
                        <div class="dropdown-menu-container">
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle" onclick="toggleDropdownMenu(this)">
                                <span id="taskDetailModalKanban-status"></span> 
                            </button>
                            <ul class="dropdown-menu status-dropdown-menu">
                                <li><a href="#" class="dropdown-item" onclick="selectOption('status', currentTaskId, 'To Do', 'To Do', true); event.preventDefault();">To Do</a></li>
                                <li><a href="#" class="dropdown-item" onclick="selectOption('status', currentTaskId, 'In Progress', 'In Progress', true); event.preventDefault();">In Progress</a></li>
                                <li><a href="#" class="dropdown-item" onclick="selectOption('status', currentTaskId, 'Done', 'Done', true); event.preventDefault();">Done</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Due Date</span>
                        <span id="taskDetailModalKanban-due_date" onclick="editDate(this, 'due_date', currentTaskId, true)"></span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Start Date</span>
                        <span id="taskDetailModalKanban-start_date"></span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Completion Date</span>
                        <span id="taskDetailModalKanban-completion_date"></span>
                    </div>
                </div>

                <div style="font-size: 0.7rem">
                    <p><strong>Created At</strong> <span id="taskDetailModalKanban-created_at"></span></p>
                    <p><strong>Last Updated</strong> <span id="taskDetailModalKanban-updated_at"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="task-id">
                {% comment %} <input type="hidden" id="task-project-id"> {% endcomment %}

                <div class="mb-3">
                    <label for="task-project-id" class="form-label">Project</label>
                    <select class="form-select" id="task-project-id" required>
                        <option value="" disabled selected>Select Project</option>
                        {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="task-title" class="form-label">Task Title</label>
                    <input type="text" class="form-control" id="task-title" required>
                </div>

                <div class="mb-3">
                    <label for="task-description" class="form-label">Description</label>
                    <textarea class="form-control" id="task-description" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="task-status" class="form-label">Status</label>
                    <p id="task-status-text" style="font-weight: bold; display: none;"></p> 
                    <select class="form-select" id="task-status-select" required style="display: none">
                        <option value="To Do">To Do</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Done">Done</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="task-creative-id" class="form-label">Assigned To</label>
                    <select name="task-creative-id" id="task-creative-id" class="form-select" required>
                        <option value="" disabled selected>Select a Creative Team Member</option>
                        {% for creative in creative_list %}
                            <option value="{{ creative.id }}">{{ creative.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="task-due-date" class="form-label">Due Date</label>
                    <input type="date" class="form-control" id="task-due-date" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-task-btn" onclick="submitTaskForm()">Add Task</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% load static %}

{% block scripts %}
<script>
    const clientList = {{ client_list|safe }};
    const pmList = {{ pm_list|safe }};
    const creativeList = {{ creative_list|safe }}; 
    const projectList = {{ projects|safe }};
    console.log('project list:', projectList);       

    document.addEventListener('DOMContentLoaded', function() {
        initializeSortableKanban();
    });
    
    // Function to open the modal with the status preset based on the column
    function showCreateTaskModalWithStatus(defaultStatus) {
        // Here we call the main showCreateTaskModal function from projectManagement.js
        showCreateTaskModal(null, defaultStatus, 'kanban'); // null for projectId if not using specific project in Kanban
    }
    
    function initializeSortableKanban() {
        const statusMapping = {
            'to-do': 'To Do',
            'in-progress': 'In Progress',
            'done': 'Done'
        };
    
        // Initialize Sortable for each column's task list
        ['to-do', 'in-progress', 'done'].forEach(status => {
            const column = document.querySelector(`#${status} .task-list`);
            if (column) { // Ensure the column exists
                new Sortable(column, {
                    group: 'tasks',
                    animation: 150,
                    draggable: '.task-card',
                    onEnd: function(evt) {
                        const taskId = evt.item.dataset.taskId;
                        const newStatusColumn = evt.to.closest('.kanban-column').id;
                        const newStatus = statusMapping[newStatusColumn];
    
                        // Update the server with the new status
                        updateTaskStatus(taskId, newStatus);
                    }
                });
            } else {
                console.error(`Column with ID ${status} not found`);
            }
        });
    }

    // Function to update task status on the server
    function updateTaskStatus(taskId, newStatus) {
        const csrftoken = getCookie('csrftoken');
        fetch(`/project/task/update/${taskId}/`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ status: newStatus })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Task status updated:', data);
            
            moveTaskCard(taskId, newStatus);    
        })
        .catch(error => console.error('Error updating task status:', error));
    }

    // Function to move task card to the correct column after status update
    function moveTaskCard(taskId, newStatus) {
        const taskCard = document.querySelector(`.task-card[data-task-id="${taskId}"]`);
        const statusColumn = {
            'To Do': 'to-do',
            'In Progress': 'in-progress',
            'Done': 'done'
        };

        if (taskCard) {
            taskCard.parentElement.removeChild(taskCard); // Remove from current column
            const targetColumn = document.querySelector(`#${statusColumn[newStatus]} .task-list`);
            if (targetColumn) {
                targetColumn.appendChild(taskCard); // Move to the new column
            }
        }
    }


</script>
<script src="{% static 'js/projectManagement.js' %}"></script>

{% endblock %}